<div class="grid" [formGroup]="testForm">
  <div class="col-9 grid-center">
    <div class="col-3_lg-4_md-6_xs-12" *ngFor="let control of testForm.controls['testQuestionsForm'].controls; let i = index;">
      <letters-test-card
        [formControl]="control"
        [visualize]="qList[i].visualize"
        [visualizationType]="qList[i].visualType"
        [testQuestion]="qList[i].testQuestion"
        [active]="currentQuestionPos === i"
      ></letters-test-card>
    </div>
  </div>
  <div class="col-3">
    Panel here
  </div>
</div>
