@font-face {
  font-family: 'phMissPam';
  src: URL('assets/font/phMissPam.ttf') format('truetype');
}

.letter {
  font: inherit;
  font-family: phMissPam;
  font-size: 30em;
}

.row {
  margin-top: 5%;
}
