.container {
  height: 100%;
  width: 75%;
  background-image: url(/assets/icons/confetti.gif);
  background-repeat: no-repeat;
  background-size: 70%;
  display: flex;
  padding-right: 8%;
  margin-left: 20%;
}

h1 {
  font-size: 4em;
}

img {
  width: 200px;
}

button {
  font-size: 1.5em;
  padding: .5em 1em;
  display: block;
  float: right;
  margin-top: 2%;
  margin-right: 5%;
}

#words {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-left: 20%;
}

@media (max-width: 1024px){
  .container {
    background-size: 85%;
    margin-left: 15%;
    margin-top: 0;
  }
  h1 {
    font-size: 3em;
  }
  img {
    width: 150px;
  }
  #words {
    margin: 10% 20% 30% 30%;
  }
}
