.container {
  height: 800px;
  width: 75%;
  background-image: url(/assets/icons/confetti.gif);
  background-repeat: no-repeat;
  background-size: auto;
  display: flex;
  padding-right: 8%;
  margin-left: 20%;
  padding-top: 10%;
}

h1 {
  font-size: 4em;
}

img {
  width: 200px;
}

button {
  font-size: 1.5em;
  padding: .5em 1em;
  display: block;
  float: right;
  margin-top: 2%;
  margin-right: 5%;
}

#words {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  margin-left: 25%;
}

@media (max-width: 1024px) {
  .container {
    background-size: 85%;
    margin-left: 15%;
    padding-top: 5%;
  }
  h1 {
    font-size: 3.5em;
  }
  img {
    width: 175px;
  }
  #words {
    margin: 10% 20% 30% 28%;
  }
}
