h2 {
  margin: 0;
}

.nav-container {
  margin-top: 50px;
}

.logout {
  float: right;
}

.teacher-name {
  text-align: right;
}

.border {
  background-image: url(/assets/icons/winter.png);
  background-repeat: repeat-y;
  height: 1000px;
}

@media (max-width: 1024px) {
  .border {
    background-image: url(/assets/icons/winterSmall.png);
    background-repeat: repeat-y;
    height: 1000px;
  }
}
