h2 {
  margin: 0;
}

.nav-container {
  margin-top: 50px;
}

.logout {
  float: right;
}

.teacher-name {
  text-align: right;
}

@media (min-width: 600px) {
  .border {
    background-image: url(/assets/icons/winter.png);
    background-size: 100%;
    background-repeat: repeat-y;
    height: 100vh;
  }
}
