<div class="grid-center landing-nav">
  <div class="col-12"></div>
  <div class="col-12">
    <h1 class="title">Who are you?</h1>
  </div>
  <div class="col-12 grid-center">
    <div class="col-3_lg-4_md-5_sm-8 nav-container">
      <letters-nav-card [imgSrc]="'assets/icons/student.png'" [linkTo]="'/student'"
                        [title]="'Student'"></letters-nav-card>
    </div>
    <div class="col-3_lg-4_md-5_sm-8 nav-container">
      <letters-nav-card [imgSrc]="'assets/icons/teacher.png'" [linkTo]="'/teacher'"
                        [title]="'Teacher'"></letters-nav-card>
    </div>
  </div>
</div>
