content-container {
  //display: flex;
  //align-items: center;
}

.question-content {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently*/
  &:not(.tall) {
    font-size: 3em;
    min-height: 50px;
  }

  &.tall {
    font-size: 3.5em;
    min-height: 70px;
  }

  text-align: center;
}

mat-card-footer {
  mat-form-field {
    display: block;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}


