<div *ngIf="render">
  <mat-card [ngClass]="{active: active, incorrect: incorrect}">
    <mat-card-header (click)="toggleIncorrect($event)" *ngIf="!!title">
      <mat-card-title>
        <h3 class="title">{{title}}</h3>
      </mat-card-title>
    </mat-card-header>
    <img *ngIf="visualizationType === vTypes.IMAGE" [src]="imgSrc" mat-card-image>
    <mat-card-content (click)="toggleIncorrect($event)" *ngIf="visualizationType === vTypes.TEXT"
                      class="content-container">
      <div [ngClass]="{tall: !!title, 'question-content': true}">{{visualizationData}}</div>
    </mat-card-content>
    <mat-card-footer>
      <mat-form-field appearance="fill" class="note-input">
        <mat-label>Notes</mat-label>
        <input [value]="note" matInput>
      </mat-form-field>
    </mat-card-footer>
  </mat-card>
</div>
