@import '~@angular/material/theming';

@mixin letters-test-card-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);

  letters-test-card {
    mat-card {
      .mat-card-content {
        margin-top: 1em !important;
      }

      &.incorrect {
        background-color: #ff4f38;
        color: white;

        input {
          color: black;
        }
      }

      &:not(.incorrect) {
        &.active {
          background-color: mat-color($accent, A100) !important;
        }

        &:not(.active) {
          background-color: mat-color($primary, 100) !important;
        }
      }

      .mat-form-field-appearance-fill .mat-form-field-flex {
        background-color: white !important;
      }
    }
  }
}
