mat-card-content {
  padding-top: 20px;
}

div.nav-container > mat-card {
  width: 80%;
  height: 300px;
}

.card-footer {
  position: absolute;
  bottom: 10px;
  display: block;
  width: 80%;
  padding-left: 10px;
}

button {
  width: 100%;
}
