<div [formGroup]="homeForm" class="col-12 grid-center">
  <!-- Test -->
  <div [formGroup]="testForm" class="col-4_md-5_sm-8 nav-container">
    <mat-card>
      <mat-card-title>Test</mat-card-title>
      <mat-divider></mat-divider>
      <mat-card-content flex>
        <h4>Choose Student</h4>
        <mat-select formControlName="studentId" placeholder="Select Student">
          <mat-option *ngFor="let student of studentList" [(value)]='student.viewValue'>
            {{student.value}}
          </mat-option>
        </mat-select>
        <h4>Choose test</h4>
        <mat-select formControlName="testId" placeholder="Select Test">
          <mat-option *ngFor="let test of testList" [(value)]='test.viewValue'>
            {{test.value}}
          </mat-option>
        </mat-select>
      </mat-card-content>
      <div class="card-footer">
        <mat-card-actions>
          <button
            (click)="goToTest()"
            [disabled]="disableTestButton"
            color="primary"
            mat-raised-button
          >Start
          </button>
        </mat-card-actions>
      </div>
    </mat-card>
  </div>

  <!-- Data -->
  <div class="col-4_md-5_sm-8 nav-container">
    <mat-card>
      <mat-card-title>Data</mat-card-title>
      <mat-divider></mat-divider>
      <mat-card-content flex>
        <h4>Choose Student</h4>
        <mat-select [(value)]='studentId' placeholder="Select Student">
          <mat-option *ngFor="let student of studentList" [(value)]='student.viewValue'>
            {{student.value}}
          </mat-option>
        </mat-select>
      </mat-card-content>
      <div class="card-footer">
        <mat-card-actions>
          <button (click)="goToStudentData()" color="primary" mat-raised-button>View Student</button>
        </mat-card-actions>
        <mat-card-actions>
          <button (click)="goToClassData()" color="primary" mat-raised-button>All Students</button>
        </mat-card-actions>
      </div>
    </mat-card>
  </div>

  <!-- Settings -->
  <div class="col-4_md-5_sm-8 nav-container">
    <mat-card>
      <mat-card-title>Settings</mat-card-title>
      <mat-divider></mat-divider>
      <mat-card-content flex style="font-size: 5em;text-align: center">
        &#9881;
      </mat-card-content>
      <div class="card-footer">
        <mat-card-actions>
          <button (click)="addStudent()" color="primary" mat-raised-button>Add Student</button>
        </mat-card-actions>
        <mat-card-actions>
          <button (click)="goToSettings()" color="primary" mat-raised-button>Modify Test</button>
        </mat-card-actions>
      </div>
    </mat-card>
  </div>
</div>
