button {
  background-color: #82c785;
  color: white;
  font-size: 2em;
  padding: 1em;
  width: 25%;
}

input {
  width: 24%;
  margin: 1em;
  margin-top: 1.5em;
  font-size: 3em;
  padding: 5px;
}

.title {
  margin-top: 15%;
  font-size: 3em;
  font-weight: bold;
}
