button {
  background-color: #82c785;
  color: white;
  font-size: 2em;
  padding: .5em;
  width: 25%;
}

input {
  margin: 1em;
  font-size: 2em;
  padding-top: .5em;
  padding-bottom: .5em;
  width: 25%;
}

.title {
  margin-top: 10%;
}
