.nav-buttons {
  margin: 10px 0 40px 0;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                   supported by Chrome and Opera */
}

.nav-button {
  font-size: 1.3em;
  text-align: center;
  padding: 8px 0 8px 0;
  -webkit-box-shadow: 0px 1px 1px #222222;
  -moz-box-shadow: 0px 1px 1px #222222;
  box-shadow: 0px 1px 1px #222222;

  &.active {
    color: white;
  }

  &:not(.active) {
    color: black;
  }
}

.soft-corners {
  @media (max-width: 36em) {
    .first-item {
      border-radius: 4px 4px 0 0;
    }

    .last-item {
      border-radius: 0 0 4px 4px;
    }
  }
  @media (min-width: 36em) {
    .first-item {
      border-radius: 4px 0 0 4px;
    }

    .last-item {
      border-radius: 0 4px 4px 0;
    }
  }
}
