$letter-warn-map: (
  50 : #fdfae0,
  100 : #f9f2b3,
  200 : #f6e980,
  300 : #f2e04d,
  400 : #efd926,
  500 : #ecd200,
  600 : #eacd00,
  700 : #e7c700,
  800 : #e4c100,
  900 : #dfb600,
  A100 : #ffffff,
  A200 : #fff6d3,
  A400 : #ffeba0,
  A700 : #ffe686,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$primary-palette-map: (
  50 : #f0f8f0,
  100 : #daeeda,
  200 : #c1e3c2,
  300 : #a8d8aa,
  400 : #95cf97,
  500 : #82c785,
  600 : #7ac17d,
  700 : #6fba72,
  800 : #65b368,
  900 : #52a655,
  A100 : #ffe79e, /* HERE */
  A200 : #ffd863,
  A400 : #ffcc35,
  A700 : #ffc107,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);
