<div class="dropdown">
  <span>Student Grades</span>
  <mat-select [(value)]='studentId' placeholder="Select Student">
    <mat-option *ngFor="let student of studentList" [(value)]='student.viewValue'>
      {{student.value}}
    </mat-option>
  </mat-select>
</div>
<div class="table">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" flex>
    <ng-container matColumnDef='name'>
      <th mat-header-cell *matHeaderCellDef>Test</th>
      <td mat-cell *matCellDef='let element'>{{element.name}}</td>
    </ng-container>

    <ng-container *ngFor="let column of ALPHABET" [matColumnDef]='column'>
      <th mat-header-cell *matHeaderCellDef>{{column}}</th>
      <td mat-cell *matCellDef='let element'>{{element.letters.includes(column) ? "&#10003;" : '&#9675;'}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef='displayedColumns'></tr>
    <tr mat-row *matRowDef='let row; let even=even; columns: displayedColumns;' [ngClass]="{gray: even}"></tr>
  </table>
</div>
