.mat-cell {
    font-size: 3em;
    padding: 10px;
}

.mat-header-cell {
    font-size: 3em;
    padding: 10px;
}

.gray {
    background-color: #EEEEEE;
}

mat-select {
    width: 200px;
    margin-bottom: 1em;
    font-size: 3em;
}

span {
    font-size: 3em;
    margin-right: 50px;
}