.mat-cell {
  font-size: 1.3em;
  padding: 9px;
  border: .5px solid grey;
}

.mat-header-cell {
  font-size: 1.3em;
  padding: 9px;
  border: .5px solid grey;
}

.mat-select {
  border: .5px solid grey;
  padding: 5px;
}

.gray {
  background-color: #EEEEEE;
}

mat-select {
  width: 200px;
  margin-bottom: 1em;
  font-size: 3em;
}

span {
  font-size: 3em;
  margin-right: 50px;
}

.table {
  margin-right: 8%;
}

.dropdown {
  font-size: .5em;
}
