.mat-cell {
  font-size: .9em;
  padding: 0 .5em;
  border: .5px solid grey;
}

.mat-header-cell {
  font-size: .9em;
  padding: 0 .5em;
  border: .5px solid grey;
}

td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type, th.mat-header-cell:first-of-type, td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type, th.mat-header-cell:last-of-type {
  padding: 0 .5em;
}

tr.mat-footer-row, tr.mat-row, tr.mat-header-row {
  height: 2em;
}

.mat-select {
  border: .5px solid grey;
  padding: 5px;
}

.gray {
  background-color: #EEEEEE;
}

mat-select {
  width: 200px;
  margin-bottom: 1em;
  font-size: 3em;
}

span {
  font-size: 3em;
  margin-right: 50px;
}

.table {
  margin-right: 8%;
}

.dropdown {
  font-size: .5em;
}

@media (max-width: 1024px) {
  .table {
    font-size: 55%;
  }
}
