letters-nav-card {
  mat-card {
    .mat-card-header-text {
      width: 100%;
      h3 {
        font-size: 2em;
        margin: 5%;
      }
    }
  }
}

letters-test-card {
  //.mat-form-field-wrapper {
  //  margin-bottom: -1.5em !important;
  //}
}
