/* You can add global styles to this file, and also import other style files */
@import 'themes/theming';
@import 'styles-component-global';

body {
  width: 100vw;
  background-color: white;
  margin: 0;
}

* {
  font-family: Arial; /* find a better, more pronounced, font */
}

.title {
  text-align: center;
}

h1 {
  font-size: 3em;
}

.form-element {
  &.full-width {
    * {
      width: 100%;
    }
  }
}
