<mat-grid-list (window:resize)="onResize($event)" [cols]="breakpoint" rowHeight="500px" style="margin: 20px">
  <mat-grid-tile>
    <mat-card style="padding: 20px; width: 350px">
      <mat-card-title>
        Would you like to test again?
      </mat-card-title>
      <mat-divider></mat-divider>
      <mat-card-content>
        <h4 style="margin-top: 20px">Choose Student</h4>
        <mat-select [(value)]='studentId' placeholder="Select Student">
          <mat-option *ngFor="let student of studentList" [(value)]='student.viewValue'>
            {{student.value}}
          </mat-option>
        </mat-select>
      </mat-card-content>
      <mat-card-actions>
        <button (click)="chooseStudentAndRedoTest()" [disabled]="!studentId" color="primary" mat-raised-button
                style="width: 100%">Start
        </button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile>
    <mat-card style="width: 350px">
      <mat-card-content style="height: 250px; width: 300px; padding: 20px; ">
        <div style="margin-top: 50px">
          <button (click)="goHome()" color="primary" mat-raised-button style="height: 70px; width: 100%;">Home</button>
          <br/>
          <br/>
          <button (click)="goToStudentData()" color="primary" mat-raised-button style="height: 70px; width: 100%">
            Student Results
          </button>
        </div>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>


