<!--<p>-->
<!--teacher-test-complete works!-->
<!--</p>-->
<!--<button mat-raised-button color="contrast" (click)="chooseStudentAndRedoTest()">Test Some Other Random Student Or Something</button>-->

<mat-grid-list cols="2" style="margin: 20px" rowHeight="500px">
  <mat-grid-tile>
    <mat-card style="padding: 20px">
      <mat-card-title>
        Would you like to test again?
      </mat-card-title>
      <mat-divider></mat-divider>
      <mat-card-content>
        <h4 style="margin-top: 20px">Choose Student</h4>
        <mat-select placeholder="Select Student" [(value)]="student">
          <mat-option value="Chris">Chris</mat-option>
          <mat-option value="Heather">Heather</mat-option>
          <mat-option value="John">John</mat-option>
          <mat-option value="Cristian">Cristian</mat-option>
        </mat-select>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" style="width: 100%" (click)="chooseStudentAndRedoTest()">Start</button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile>
    <mat-card>
      <mat-card-content style="height: 250px; width: 300px; padding: 20px; ">
        <div style="margin-top: 50px">
          <button mat-raised-button color="primary" style="height: 70px; width: 100%;">Home</button>
          <br/>
          <br/>
          <button mat-raised-button color="primary" style="height: 70px; width: 100%">Student Results</button>
        </div>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>


