<div class="table">
  <h2>Student Grades</h2>

  <table [dataSource]="dataSource" class="mat-elevation-z8" flex mat-table>
    <ng-container matColumnDef='name'>
      <th *matHeaderCellDef mat-header-cell>Name</th>
      <td *matCellDef='let element' mat-cell><a (click)="goToStudentData(element.id)">{{element.name}}</a></td>
    </ng-container>

    <ng-container *ngFor="let column of ALPHABET" [matColumnDef]='column'>
      <th *matHeaderCellDef mat-header-cell>{{column}}</th>
      <td *matCellDef='let element' mat-cell>{{element.letters.includes(column) ? "&#10003;" : '&#9675;'}}</td>
    </ng-container>

    <tr *matHeaderRowDef='displayedColumns' mat-header-row></tr>
    <tr *matRowDef='let row; let even=even; columns: displayedColumns;' [ngClass]="{gray: even}" mat-row></tr>
  </table>
</div>
